@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 874px) {
    :root {
        --sidebar-width: 0;
        --content-width: 100%;
    }
}

@media (max-width: 1367px) {
    :root {
        --sidebar-width: 80px;
    }
}

@layer base {
    :root {
        --background: 0 0% 98%;
        --background-nav: 0 0% 95%;
        --foreground: 0 0% 9%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 45 99% 36%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 90.9%;
        --accent-foreground: 0 0% 24%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --divider: 0 0% 80%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;

        /* Sizes */
        --radius: 1em;
        --sidebar-width: 280px;
        --navbar-height: 70px;
        --content-width: 928px;
    }

    .dark {
        --background: 0 0% 3.9%;
        --background-nav: 0 0% 10.2%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 45 99% 56%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 28.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 80%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --divider: 0 0% 18.9%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

hr {
    @apply border-divider;
}

.gradient-overlay {
    position: relative;
}

.gradient-overlay::after {
    @apply bg-gradient-to-b from-transparent via-background-nav via-70% to-background-nav absolute bottom-0 left-0 right-0 pointer-events-none h-16;
    content: '';
}
