* {
    margin: 0;
    padding: 0;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
      visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}


.tween-in-section {
    width: 0;
    transition: width 1000ms, opacity 1200ms ease-out, transform 600ms ease-out;
    transition-delay: 400ms;
    will-change: width, opacity, transform;
}

.tween-in-section.is-visible {
    width: 100%;
    transform: none;
    opacity: 1;
}





.sticky-mobile {
    display: none;
}

@media only screen and (max-width: 768px){
    .sticky {
        display: none;
    }

    .sticky-mobile {
        display: block;
    }
}

.icon:hover {
    color: rgb(255, 244, 194);
    
}

h1, p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2b2b2b;
    opacity: 1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .zoomImg {
    transition: transform .5s ease, filter .15s ease-in-out;
  }

  .zoomImg:hover {
    transform: scale(1.25);
    filter: brightness(50%);
  }